<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cwcc.open.plugin.setting"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="设置中心"
        android:icon="@drawable/plugin_icon">
        <meta-data
            android:name="plugin.description"
            android:value="设置模块插件，加载所有已安装的插件列表，负责管理所有插件相关设置，可以设置插件启用状态、手动开启/关闭插件、卸载插件。注意：该版本插件不再兼容ComboLite插件框架核心库版本低于2.0.0的宿主应用" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.cwcc.open.plugin.setting.PluginEntryClass" />
    </application>

</manifest>