<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cwcc.open.plugin.home"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="首页"
        android:icon="@drawable/plugin_icon">
        <meta-data
            android:name="plugin.description"
            android:value="首页模块插件，提供宿主应用的首页页面，负责初始化地图和导航基础功能" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.cwcc.open.plugin.home.PluginEntryClass" />
    </application>
</manifest>