<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cwcc.open.plugin.geokori"
    android:versionCode="2"
    android:versionName="1.0.1">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true"/>

    <application
        android:label="地图中心"
        android:icon="@drawable/plugin_icon">
        <meta-data
            android:name="plugin.description"
            android:value="地理日志模块，主要负责启动地图、导航等基本功能" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.cwcc.open.plugin.geokori.PluginEntryClass" />

        <!--地图导航所需的服务-->
        <service
            android:name="com.stadiamaps.ferrostar.core.service.FerrostarForegroundService"
            android:foregroundServiceType="location" />

        <service
            android:name="org.cwcc.open.plugin.geokori.auto.DemoCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>