<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cwcc.open.plugin.common"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="公共模块"
        android:icon="@drawable/ic_icon">

        <meta-data
            android:name="plugin.entryClass"
            android:value="org.cwcc.open.plugin.common.PluginEntryClass" />

        <meta-data
            android:name="plugin.description"
            android:value="公共模块插件，提供各个插件的公共功能、资源，如BaseViewModel、ComposeNavigator导航、各种utils工具类等等。" />
    </application>
</manifest>